@import url('https://fonts.googleapis.com/css?family=Lato:wght@400;700&display=swap');

* { 
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #333333;
    height: 100vh;
    width: 100%;
    
}

nav {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    max-width: 100vw;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 20px;
    width: 300px;
}
  
.nav__item {
    list-style-type: none;
}

.nav__link {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    position: relative;
    text-decoration: none;
}

h1 {
    color: #333333;
    font-size: 6rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #333333;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

h3 {
    color: #333333;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#intro__h1 {
    font-size: 4rem;
    color: #333333;
    padding-left: 20px;
    padding-right: 20px;
  }


.nav__link:after {
    background: #b5a7ff;
    bottom: -10px;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav__link:hover {
    color: black;
}
  
.nav__link:hover:after {
    left: 0;
    width: 100%;
}

#name {
    color:#b5a7ff;
    font-size: 7rem;
    /*tesy*/
}

#intro {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

#about__button a {
    background-color: #b5a7ff;
    border-radius: 15px;
    box-shadow: rgba(194, 192, 204, 0.83) 5px 5px 10px 1px;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 50px;    
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

#about__button {
    margin-top: 50px;
}

#about__button:hover {
    transform: scale(1.2);
}

#self__img {
    height: 250px;
    border-radius: 50%;
    filter: grayscale(0%);
    padding: 30px;
    transition: 1s;
    width: 250px;
}

#self__img:hover {
    filter: grayscale(100%);
    transform: scale(1.2);
    transition: 1s;
}

#about-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.section__title {
    padding-top: 40px;
}

section {
    min-height: 100vh;
}

p {
    color: #333333;
    font-size: 1.1em;
    line-height: 1.6;
    max-width: 100vw;
    padding: 30px 10px 0 20px;
    width: 700px;
}

.skills__item {
    list-style-type: none;
    display: inline-block;
    padding: 15px 20px;
}

#skills-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#skills__h3 {
    padding-bottom: 20px;
}

#skills__list img {
    height: 90px;
    width: 90px;
}

#skills__list {
    width: 50%;
}

.skills__name {
    font-size: 16px;
    font-weight: bold;
    visibility: hidden;
}

.skills__img {
    padding-bottom: 10px;
}

.skills__item:hover {
    transform: scale(1.2);
}

.skills__item:hover .skills__name {
    visibility: visible;
}

#resume__button a {
    background-color: #b5a7ff;
    border-radius: 15px;
    box-shadow: rgba(194, 192, 204, 0.83) 5px 5px 10px 1px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 50px;    
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

#resume__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;

}

#resume__button:hover {
    transform: scale(1.2);
}

.socials__item {
    list-style-type: none;
    padding: 5px 0;
}

.uil {
    color:#b5a7ff;
    font-size: 45px;
}

.uil:hover {
    color:#927ff0;
}

.socials__item:hover {
    transform: scale(1.2);
}